# Your grafana cloud username
GRAFANA_CLOUD_USERNAME=1234567
# Your grafana cloud password
GRAFANA_CLOUD_PASSWORD=glc_your_password
# Your grafana cloud endpoint (without path, and no trailing slash!)
GRAFANA_CLOUD_OTLP_ENDPOINT=https://otlp-gateway-prod-eu-west-2.grafana.net